body {
    color: rgb(242, 242, 246);
    background-color: black;
}

section {
    background-color: rgb(139, 89, 186);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

header {
    padding-bottom: 20px;
    padding-top: 20px; 
}

.chamada-texto {
    margin-right: 20px;
}

img {
    height: 200px;
}